* {
  margin: 0;
  padding: 0;
}

.contenedor-principal-local{
  width: 100%;
  height: 415px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.carousel-local{
  width: 100%;
  height: 415px;
}
/* Estilo para ajustar las imágenes del carrusel */
.contenedor-items-local {
  width: 100%;
  height: 415px; 
}
.carousel-item-local img {
  width: 100%; /* Imágenes abarcan todo el ancho */
  height: 100%; /* Imágenes abarcan toda la altura del contenedor del carrusel */
  object-fit: cover; /* Ajusta la imagen para cubrir el contenedor manteniendo la proporción */
}
.contenedor-categorias-body {
  width: 100%;
  margin-top: 15px;
  padding: 30px;
  background-color: rgb(197, 197, 197);
}

.columna-categoria-local {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  margin-bottom: 15px; /* Add margin for small screens */
}

.columna-categoria-local button {
  width: 90%;
  height: 60px;
}

@media (max-width: 576px) {
  .carousel-local{
    display: none;
  }
  /* Estilo para ajustar las imágenes del carrusel */


  .contenedor-categorias-body .row {
    flex-direction: column;
  }
  
  .columna-categoria-local {
    width: 100%;
    margin-top: 0;
    padding: 15px; /* Reduce padding for small screens */
  }
  
  .columna-categoria-local button {
    width: 40%;
    height: 60px;
  }
}
